# Data preparation with sklearn

In this notebook, we will work with three different datasets to practice to prepare them for training a machine learning model.

Remember the main steps for doing that are:

1. Outlier removal
2. Missing values filling
3. Data normalization
4. Dealing with categorical variables

### Exercise 1

Let's assume we have a small database of flu patients. We want to make a model to predict the need of hospitalization given the characteristics of the patients. However, before we need to pre-process a little bit the data.

We have the following attributes:

* Age: stored in years
* Gender: Male / Female 
* Health status: Excelent / good / poor 
* Disease symptoms: in a scale from 0 to 10 where 0 is asymptomatic 
* Hospitalization need: 0 don't need hospitalization; 1 if they need it
    
The data is stored in lists. We provide here an example with 5 patients:

In [46]:
import pandas as pd
from sklearn import set_config

set_config(transform_output="pandas")

age = [70, 60, 35, None, 86]  # None is used to denote a missing value in Python
gender = ["Male", "Female", "Male", "Male", "Female"]  
health_status = ["Excellent", "Poor", "Poor", "Excellent", "Good"]  
disease_symptoms = [0, 7, 5, 8, 9]  
hospitalization = [0, 1, 1, 0, 0]

<div class="alert alert-info"><b>Exercise 1.1</b> 

Create a dataframe called ```df``` that contains the provided data.
</div>

In [47]:
df = pd.DataFrame(data = {"age": age, "gender": gender, "health_status": health_status, 
                          "disease_symptoms": disease_symptoms, "hospitalization": hospitalization })
df

    age  gender health_status  disease_symptoms  hospitalization
0  70.0    Male     Excellent                 0                0
1  60.0  Female          Poor                 7                1
2  35.0    Male          Poor                 5                1
3   NaN    Male     Excellent                 8                0
4  86.0  Female          Good                 9                0

<div class="alert alert-info"><b>Exercise 1.2</b> 

Extract the features matrix and target array from the original DataFrame and store them in two new variables ```X``` and ```y```. Use column ```hospitalization``` as depedent variable.</div>

In [48]:
X = df.drop(columns=['hospitalization'])
y = df['hospitalization']
print(X)
print(y)

    age  gender health_status  disease_symptoms
0  70.0    Male     Excellent                 0
1  60.0  Female          Poor                 7
2  35.0    Male          Poor                 5
3   NaN    Male     Excellent                 8
4  86.0  Female          Good                 9
0    0
1    1
2    1
3    0
4    0
Name: hospitalization, dtype: int64

<div class="alert alert-info"><b>Exercise 1.3</b> 

Fill the missing values for the ```age``` column with the mean of that column

In [49]:
from sklearn.impute import SimpleImputer
mean_imp = SimpleImputer(strategy='mean')
X_imp = mean_imp.fit_transform(pd.DataFrame(X['age']))
print(X_imp)
X['age']=X_imp
X

     age
0  70.00
1  60.00
2  35.00
3  62.75
4  86.00

     age  gender health_status  disease_symptoms
0  70.00    Male     Excellent                 0
1  60.00  Female          Poor                 7
2  35.00    Male          Poor                 5
3  62.75    Male     Excellent                 8
4  86.00  Female          Good                 9

<div class="alert alert-info"><b>Exercise 1.4</b> 

Use the sklearn library to create a one-hot encoder for the ```gender``` attribute that results in the adding of two new columns, ```female``` and ```male```, to your dataframe. Remember to remove the original attribute.
</div>

In [50]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder = OneHotEncoder(sparse_output=False)
onehot_values = onehot_encoder.fit_transform(X[['gender']])
X['female'] = onehot_values['gender_Female']
X['male'] = onehot_values['gender_Male']
X = X.drop(columns= ['gender'])
print(X)

     age health_status  disease_symptoms  female  male
0  70.00     Excellent                 0     0.0   1.0
1  60.00          Poor                 7     1.0   0.0
2  35.00          Poor                 5     0.0   1.0
3  62.75     Excellent                 8     0.0   1.0
4  86.00          Good                 9     1.0   0.0

Now, you encoded the ```gender``` attribute, you get three different columns containing the encoded values. Add them in the dataframe ```X``` with the appropriate names.

<div class="alert alert-warning">
Hint 1:  Encoded columns are in lexicographical order.
</div>
<div class="alert alert-warning">
    
Hint 2:  Remember to drop the non-encoded attribute from ```X```.
</div>

<div class="alert alert-info"><b>Exercise 1.5</b> 

Use the sklearn library to create an integer encoder for the ```health_status``` attribute. Store the new variable in a column called ```health_status_ENC``` and remove the original column.</div>

In [51]:
from sklearn.preprocessing import OrdinalEncoder
categories = [['Excellent', 'Good', 'Poor']]
ordinal_encoder = OrdinalEncoder(categories=categories)
X['health_status_ENC'] = ordinal_encoder.fit_transform(X[['health_status']])
X

     age health_status  disease_symptoms  female  male  health_status_ENC
0  70.00     Excellent                 0     0.0   1.0                0.0
1  60.00          Poor                 7     1.0   0.0                2.0
2  35.00          Poor                 5     0.0   1.0                2.0
3  62.75     Excellent                 8     0.0   1.0                0.0
4  86.00          Good                 9     1.0   0.0                1.0

<div class="alert alert-warning">
    
Hint:  Remember to drop the non-encoded attribute from ```X```.
</div>

In [52]:
X = X.drop(columns='health_status')
X

     age  disease_symptoms  female  male  health_status_ENC
0  70.00                 0     0.0   1.0                0.0
1  60.00                 7     1.0   0.0                2.0
2  35.00                 5     0.0   1.0                2.0
3  62.75                 8     0.0   1.0                0.0
4  86.00                 9     1.0   0.0                1.0

<div class="alert alert-info"><b>Exercise 1.6</b> 

Write the code to normalize the dataset ```X``` using the StandarScaler from the sklearn library.
</div>

In [53]:
# YOUR CODE HERE
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

        age  disease_symptoms    female      male  health_status_ENC
0  0.437869         -1.819622 -0.816497  0.816497          -1.118034
1 -0.166088          0.376473  1.224745 -1.224745           1.118034
2 -1.675980         -0.250982 -0.816497  0.816497           1.118034
3  0.000000          0.690201 -0.816497  0.816497          -1.118034
4  1.404200          1.003929  1.224745 -1.224745           0.000000

## Exercise 2

In the following link, you can download a dataset that contains sociodemographic about different family structures.

https://raw.githubusercontent.com/jnin/information-systems/main/data/social_class.csv

The data are presented in a CSV format. You will need to load it using the ```read_csv``` Pandas function. 

The dataset contains the following attributes:

* gender
* num_children
* income
* social_class

<div class="alert alert-info"><b>Exercise 2.1</b> 

Create a dataframe called ```df``` that contains the provided data.</div>

In [ ]:
# YOUR CODE HERE

<div class="alert alert-info"><b>Exercise 2.2</b> 

Plot the histogram of the income column. If you observe the distribution, you will realize that there are some outliers. Specifically, some individuals earning a very high salary. Remove them using the ```.quantile()``` Pandas function.
</div>
<div class="alert alert-warning">
    
Hint: You can use the function ```hist()``` to plot the histogram for column ```income```.
</div>

In [ ]:
# YOUR CODE HERE

Now, drop the values from ```df```

In [ ]:
# YOUR CODE HERE

Finally, plot again the histogram and observe the differences

In [ ]:
# YOUR CODE HERE

<div class="alert alert-info"><b>Exercise 2.3</b> 

Extract the features matrix and target array from the original DataFrame and store them in two new variables ```X``` and ```y```. Use column ```income``` as the depedent variable.
</div>

In [ ]:
# YOUR CODE HERE

<div class="alert alert-info"><b>Exercise 2.4</b> 

Use the sklearn library to create a one-hot encoder for the ```gender``` attribute. Store the resulting information in two new columns called ```male``` and ```female``` and remove the original attribute from the dataframe.
</div>

In [ ]:
# YOUR CODE HERE

Now, you encoded the ```gender``` attribute, you get three different columns containing the encoded values. Add them in the dataframe ```X``` with the appropriate names.

<div class="alert alert-warning">
Hint 1:  Encoded columns are in lexicographical order.
</div>
<div class="alert alert-warning">
    
Hint 2:  Remember to drop the non-encoded attribute from ```X```.
</div>

In [ ]:
# YOUR CODE HERE

<div class="alert alert-info"><b>Exercise 2.5</b> 

Use the sklearn library to create an integer encoder for the ```social_class``` attribute.
</div>
<div class="alert alert-warning">
    
Hint: You can use the function ```value_counts()``` to retrieve the labels from the column ```social_class```.
</div>

In [ ]:
# YOUR CODE HERE

Now, create a list with the ordered categories and create a new attibute called ```social_class_ENC``` inside the ```X``` dataframe

In [ ]:
# YOUR CODE HERE

Finally, drop the non-encoded ```social_class``` attribute from ```X```.

In [ ]:
# YOUR CODE HERE

<div class="alert alert-info"><b>Exercise 2.6</b> 

Write the code to normalize the dataset ```X``` using the MinMaxScaler from the sklearn library.
</div>

In [ ]:
# YOUR CODE HERE

## Exercise 3

There is a lot of controversy about the relationship between income and ideology. Let's explore a little bit this relationship. However, before we need to pre-process a little bit the data. We have the following attributes:

* Gender
* Political_ideology
* Income
* Job_satisfaction

In the following link you can download a dataset that contains job information about different individuals.

https://raw.githubusercontent.com/jnin/information-systems/main/data/ideology_income.csv

The data are presented in a CSV format. You will need to load it using the ```read_csv``` Pandas function. 


<div class="alert alert-info"><b>Exercise 3.1</b> 

Create a dataframe called ```data``` that stores the provided data.
</div>

In [ ]:
# YOUR CODE HERE

<div class="alert alert-info"><b>Exercise 3.2</b> 

Display the histogram of the ```income``` column, and decide whether or not you need to remove outliers.
</div>

In [ ]:
# YOUR CODE HERE

<div class="alert alert-info"><b>Exercise 3.3</b> 

Extract the features matrix and target array from the original DataFrame and store them in two new variables ```X``` and ```y```. Use column ```job_satisfaction``` as depedent variable.
</div>

In [ ]:
# YOUR CODE HERE

<div class="alert alert-info"><b>Exercise 3.4</b> 

Use the sklearn library to create an integer encoder for the ```political_ideology``` attribute.
</div>
<div class="alert alert-warning">
    
Hint: You can use the function ```value_counts()``` to retrieve the labels from the column ```social_class```.
</div>

In [ ]:
# YOUR CODE HERE

Now, create a list with the ordered categories and create a new attibute called ```political_ideology_ENC``` inside the ```X``` dataframe.

In [ ]:
# YOUR CODE HERE

Finally, drop the non-encoded ```political_ideology``` attribute from ```X```.

In [ ]:
# YOUR CODE HERE

<div class="alert alert-info"><b>Exercise 3.5</b> 

Use the sklearn library to create a one-hot encoder for the ```gender``` attribute. Observe the encoder output, and store the information in two new columns called ```female``` and ```male```.
</div>

In [ ]:
# YOUR CODE HERE

Now, you encoded the ```gender``` attribute, you get three different columns containing the encoded values. Add them in the dataframe ```X``` with the appropriate names.

<div class="alert alert-warning">
Hint 1:  Encoded columns are in lexicographical order.
</div>
<div class="alert alert-warning">
    
Hint 2:  Remember to drop the non-encoded attribute from ```X```.
</div>

In [ ]:
# YOUR CODE HERE

<div class="alert alert-info"><b>Exercise 3.6</b> 

Write the code to normalize the dataset ```X``` using the StandarScaler from the sklearn library.
</div>

In [ ]:
# YOUR CODE HERE

## Exercise 4

Milk consumption is important variable to avoid aging problems. Let's analyze a little bit if there are different habits in the population. We have the following attributes:

* gender
* height
* weight
* milk

In the following link you can download a dataset that contains milk consumption data about different individuals.

https://raw.githubusercontent.com/jnin/information-systems/main/data/milk_consumption.csv

The data are presented in a CSV format. You will need to load it using the ```read_csv``` Pandas function. 

<div class="alert alert-info"><b>Exercise 4.1</b> 

Create a dataframe called ```data``` that stores the provided data.
</div>

In [ ]:
# YOUR CODE HERE

<div class="alert alert-info"><b>Exercise 4.2</b> 

Extract the features matrix and target array from the original DataFrame and store them in two new variables ```X``` and ```y```. Use column ```milk``` as depedent variable.
</div>

In [ ]:
# YOUR CODE HERE

<div class="alert alert-info"><b>Exercise 4.3</b> 
    
Use the sklearn library to create a one-hot encoder for the ```gender``` attribute. Observe the encoder output, and store the information in two new columns called ```female``` and ```male```.
</div>

In [ ]:
# YOUR CODE HERE

Now, you encoded the ```gender``` attribute, you get three different columns containing the encoded values. Add them in the dataframe ```X``` with the appropriate names.

<div class="alert alert-warning">
Hint 1:  Encoded columns are in lexicographical order.
</div>
<div class="alert alert-warning">
    
Hint 2:  Remember to drop the non-encoded attribute from ```X```.
</div>

In [ ]:
# YOUR CODE HERE

<div class="alert alert-info"><b>Exercise 4.4</b> 

Write the code to normalize the dataset ```X``` using the StandarScaler from the sklearn library.
</div>

In [ ]:
# YOUR CODE HERE